html,
body {
  background: #f4f4f4;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: clip;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main section {
  margin-bottom: 3rem;
}